<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidhws">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
       <activity android:name=".hw2.MainActivity">

       </activity>

        <activity android:name=".hw2.ShoppingListActivity"></activity>

        <activity android:name=".hw4.SendMessageToFriendActivity"></activity>

        <activity android:name=".hw4.AuthorizationActivity"></activity>

        <activity android:name=".hw6.SpeechRecognizerActivity"></activity>



        <activity android:name=".hw7.Task3ProfileActivity"></activity>
        <activity android:name=".hw7.Task3Activity" />
        <activity android:name=".hw7.Task2ProfileActivity" />
        <activity android:name=".hw7.Task2Activity" />
        <activity android:name=".hw7.Task1ProfileActivity" />
        <activity android:name=".hw7.Task1RegistrationActivity" />
        <activity android:name=".hw7.Task1Activity" />
        <activity android:name=".hw7.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>